.back123{
	background-color: #EBEBEB;
	background-image: url(../images/eating.jpg); 
    background-repeat: no-repeat;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 15px 15px;
    font-size: 15px;
}

.height1{
	height: 15em;
}

#fontsize{
	font-size: 25px;
	color: white;
	padding: 0.5em 1em 0.5em 1em;
}

.black{
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
}

.screen{
	width: 850px;
	height: 384px;
	border: 0;
	margin-left: -1em;
}

.liststyle{
	list-style-type: none;
	font-size: 14px;
}
.liststyle1{
	padding-bottom: 15px;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: #fff;
    background-color: transparent;
}

.navbar-brand{
	color: white !important;
}

.navbar-nav>li>a {
	color: white !important;
}

.position{
	color: white;
	background-color: rgba(0,0,0,0.1);
}

.position1{
	color: white;
	line-height: 7.79em;
	font-size: 85px;
	text-align: center;
	background-color: rgba(0,0,0,0.2);
	margin: 0em -0.15em 0em -0.15em;
}

.position2{
	position: relative;
	margin-top: -18em;
	color: white;
	text-align: center;
}

.container1{
	margin-top: 5em;
}

#center{
	color: #11B674;
}

.center{
	text-align: center;
}

.right{
	text-align: right;
}

#justify{
	text-align: justify;
}

@media(max-width: 320px) {

.nav>li>a {
    position: relative;
    display: block;
    padding: 15px 15px;
    font-size: 13px;
}

.height1{
	height: 10em;
}

#fontsize{
	font-size: 25px;
	color: white;
	padding: 0.5em 1em 0.5em 1em;
}

.black{
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
}

.back123{
	background-color: #EBEBEB;
	background-image: url(../images/eating.jpg); 
    background-repeat: no-repeat;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 635px;
}

.position{
	color: white;
	background-color: rgba(0,0,0,0.1);
}

.position1{
	color: white;
	line-height: 9.8em;
	font-size: 65px;
	text-align: center;
	background-color: rgba(0,0,0,0.2);
	margin: 0em -0.23em 0em -0.23em;
}

.position2{
	position: relative;
	margin-top: -14em;
	color: white;
	text-align: center;
}



#fontsize{
	font-size: 18px;
	color: white;
	padding: 1em;
}

}

@media(min-width: 768px) {


.back123{
	background-color: #EBEBEB;
	background-image: url(../images/eating.jpg); 
    background-repeat: no-repeat;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 620px;
}

.position{
	color: white;
	background-color: rgba(0,0,0,0.1);
}

.position1{
	color: white;
	line-height: 10em;
	font-size: 69px;
	text-align: center;
	background-color: rgba(0,0,0,0.2);
	margin: 0em -0.22em 0em -0.22em;
}

.position2{
	position: relative;
	margin-top: -20em;
	color: white;
	text-align: center;
}

}

@media(max-width: 480px){
	.screen{	
	width: 260px;
	height: 270px;
	border: 0;
	margin-left: -1em;
}
}

@media(min-width: 1440px){
	.position{
		color: white;
		background-color: rgba(0,0,0,0.1);
	}

	.position1{
		color: white;
		line-height: 8.85em;
		font-size: 85px;
		text-align: center;
		background-color: rgba(0,0,0,0.2);
		margin: 0em -0.15em 0em -0.15em;
	}

	.position2{
		position: relative;
		margin-top: -18em;
		color: white;
		text-align: center;
	}
	.screen{	
	width: 850px;
	height: 516px;
	border: 0;
	margin-left: -1em;
}